.footer{
    width: 1200px;
    padding: 0px 40px;
    min-height: 80px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    border-top: 1px solid rgba(0,0,0,0.1);
    align-items: baseline;
}

.footer-logo {
    flex: 0.4;
    padding: 20px 20px;
}

.footer-logo p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #BDBDBD;
}

.footer-texto {
    flex: 0.6;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #4F4F4F;
    text-align: right;
    padding: 40px;
}