.qualidades{
    width: 1280px;
    min-height: 200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    align-content: space-between;
    vertical-align: middle;
}

.qualidades div{
    flex: 1;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #727272;
    padding: 20px;
}

.qualidades img{
    height: 30px;
}

.qualidades div p:nth-child(2){
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1C86A4;
    margin-top: 10px;
}

.qualidades div p:nth-child(3){
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #727272;
    margin-top: 10px;
}